html {
  font-size: .625em;
  font-family: 'Calibri';
}


h1 {
  font-size: 3.75em;
  text-align: center;
}

p, li {
  font-size: 1.5em;
  line-height: 2;
  letter-spacing: .0625em;
}


html {
  background-color: white;
}

body {
  width:31.25%;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 1.25em 1.25em 1.25em;
  border: .3125em solid black;
}

h1 {
  margin: 0;
  padding: .5em 0;
  color: rgb(94, 37, 37);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: black;
}

li {
  float: left;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.slideshow-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: auto;
}