h1 {
  color : rgb(94, 37, 37)
}

li {
  color: black;
}

.test_class {
  color: orange;
  font-weight: bold;
}
/* to specify objects with that class name*/
li.special {
  color: green;
}

p.special {
  width: 25%
}

.container {
  display: flex;
  align-items: center;
}